<template>
  <div class="wrapper">
      <div class="lefter"></div>
      <div class="topper">
          <h3>Report</h3>
          <button v-on:click="logout()">Logout</button>

          
      </div>


      <div class="field" v-if="!search_true">
          <div class="input_guard2">
            <input type="text" name="mac" id="first_inp" v-model="mac" placeholder="mac address" v-on:keydown="mac_test" autocomplete="off">
            <input type="text" v-model="contract" placeholder="contract id" v-on:keydown="contract_check" id="second_inp" autocomplete="off"> 
            
            <button v-on:click="apply_filters()" id="apply_filter">Apply Filters</button>
            <div id="data_tester">
                <div v-for="(item, index) in test_mac" v-bind:key="index">
                    <div class="selectors" v-on:click="mac_func(item)">{{item}}</div>

                </div>
            </div>

            <div id="contract_tester">
                <div v-for="(item, index) in cont_test" v-bind:key="index">
                    <div class="selectors" v-on:click="cont_func(item)">{{item}}</div>

                </div>
            </div>
            
          </div>
         <div class="switcher">
                <button v-on:click="switch_func('tables')">Tables</button>
                <button v-on:click="switch_func('graphs')" id="second_button">Graphs</button>
            </div>
      </div>
      <div v-else class="field">
          <div class="input_guard">
            <div class="holder_info">
                <p>Currently viewing data: </p>
                
                    <p>Mac Address: {{mac}} <br> Contract: {{contract}} <br> City: {{city}} </p>
                    

                
            </div>
            <div class="date_section">
                <div class="one_or_seven" v-bind:class="{ active: oneActive }" v-on:click="selectOne()">
                    <p>1 day</p>
                </div>
                <div class="one_or_seven" v-bind:class="{ active: sevenActive }" v-on:click="selectSeven()">
                    <p>7 days</p>
                </div>
                
            </div>
                <div class="middle">
                    <p v-on:click="calendar_activate()">
                        <span v-if="!calendar">
                            Activate the Calendar
                        </span>
                        <span v-else>
                            Deactivate the calendar
                        </span>
                    </p>
                    <div class="picker">
                    <Calendar v-if="calendar"/>
                    <!-- <DatePicker :mode='mode' v-model='selectedDate' /> -->
                </div>
                </div>
                


            <button v-on:click="reset_filters()" id="reset_filter">Reset Filters</button>
          </div>
        <div class="switcher">
          <button v-on:click="switch_func('tables')">Tables</button>
          <button v-on:click="switch_func('graphs')" id="second_button">Graphs</button>
        </div>
         
      </div> 
      
      
      
      <!-- {{test_mac}} -->
        <!-- {{cont_test}} -->
        <!-- {{test_mat}} -->
      <div v-if="graphs">
          <graphs 
          :mac_address = mac
          :contract = contract
          :search = search_true
          :growth = growth
          :atmosphere = atmosphere
          :avg_temp = avg_temp
          :avg_sales = avg_sales
          />
      </div>
      <div v-else>
          <tables 
          :contract = contract
          />
      </div>
      
      
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios"
import graphs from "../components/Graphs"
import tables from "../components/Tables"
import Calendar from 'v-calendar/lib/components/calendar.umd'
import DatePicker from 'v-calendar/lib/components/date-picker.umd'
export default {
    components: {
        graphs, tables, Calendar, DatePicker
    },
    data() {
        return {
            mac : "",
            contract : "",
            test_mac : "",
            cont_test: "",
            graphs : true,
            tables: false,
            test_mat : "",
            search_true : false,
            city: "Belgrade",
            growth : [],
            atmosphere : [],
            avg_temp: [],
            avg_sales: [],
            oneActive: true,
            sevenActive: false,
            calendar : false
        }
    },
    methods: {
        mac_test() {
            axios.post("http://localhost/Ibis/Matei/src/assets/php/mac_check.php", {
                request: "mac_check",
                address: this.mac
            })
            .then(response => {
                console.log(response.data)
                this.test_mac = response.data.address
                }
            )
            .catch()
        },
        contract_check(){
            axios.post("http://localhost/Ibis/Matei/src/assets/php/contract.php", {
                request: "contract_check",
                contract: this.contract
            })
            .then(response => {
                console.log(response.data)
                this.cont_test = response.data.contracts
                }
            )
            .catch()
        },
        switch_func(x){
            if(x == "graphs"){
                this.graphs = true
                this.tables = false
            }else if(x == "tables"){
                this.tables = true
                this.graphs = false
            }
        },
        mac_func(x){
            // alert("kliknuo si")
            this.mac = x
        },
        cont_func(x){
            this.contract = x
        },
        apply_filters(){
            if(this.mac !== "" && this.contract !== ""){
                axios.post("http://localhost/Ibis/Matei/src/assets/php/graph_data.php", {
                    request: "apply_filters",
                    contract: this.contract,
                    mac: this.mac
                })
                .then(response => {
                    console.log(response.data)
                    this.test_mat = response.data
                    this.growth = response.data.data.growth
                    this.atmosphere = response.data.data.atmosphere
                    this.avg_temp = response.data.data.avg_temp
                    this.avg_sales = response.data.data.avg_sales
                    // console.log(this.atmosphere)
                    //"atmosphere", "avg_temp", "avg_sales"
                    // console.log(this.growth)
                    // console.log(this.avg_sales)
                    this.search_true = true
                    }
                )
                .catch()
            }else {
                alert("Please enter mac address and contract id")
            }
            
        },
        reset_filters(){
            this.mac = ""
            this.contract = ""
            this.search_true = false
        },
        logout(){
            this.$router.push("/")
        },
        selectOne(){
            /** Axios for 1 day */
            this.oneActive = true
            this.sevenActive = false
        },
        selectSeven(){
            /** Axios for 7 days */
            this.oneActive = false
            this.sevenActive = true
        },
        calendar_activate(){
            this.calendar = !this.calendar
        }
    }
    
}
</script>

<style>
    .lefter {
        width:10%;
        position:fixed;
        left:0;
        top:0;
        min-height: 100vh;
        background-color: rgba(2,24,68, 1);
    }
    .topper {
        position: absolute;
        height:5%;
        top:0;
        left:10%;
        border-bottom: 1px solid black;
        width:90%;
    }
    /* fali responsive ovde  */
    .topper h3 {
        position: absolute;
        left: 5%;
    }
    .topper button {
        position: absolute;
        right: 5%;
        top: 25%;
        height: 50%;
        width:15%;
        border-radius:25px;
        border: 1px solid rgb(2, 24, 68);
    }
    .field {
        width:85%;
        height:15%;
        position: absolute;
        top:5%;
        border-bottom: 1px solid grey;
        left:10%;
    }
    .input_guard {
        width:100%;
        height:50%;
        position:absolute;
        /* top:25%; */
        text-align:left;
    }
    .input_guard2 {
        width:100%;
        height:50%;
        position:absolute;
        top:15%;
        /* border:1px solid red; */
        text-align:left;
    }
    .input_guard2 input {
        border-radius: 25px;
        border: 1px solid black;
        margin-right: 10px;
        text-align:center;
    }
    
    .input_guard2 button {
        background-color: lightblue;
        border-radius: 25px;
        /* border: 1px solid red; */
    }

   

    .input_guard input {
        border-radius: 25px;
        border: 1px solid black;
        margin-right: 10px;
        text-align:center;
        float:left;
        position:absolute;
        left:0;
    }
    ::placeholder {
        text-align: center;
    }
    .input_guard button {
        background-color: lightblue;
        border-radius: 25px;
        /* border: 1px solid red; */
    }
    .switcher {
        /* border:1px solid red; */
        position:absolute;
        bottom:0%;
        left:5%;
    }
    .switcher button {
        margin-right:10px;
        width:100px;
        border-top:2px solid blue;
        position:absolute;
        height:25px;
        top:-25px;
    }
    #second_button {
        left: 110px;
    }
    .selectors {
        /* border:1px solid red; */
        padding:5px;
        z-index:1000;
        background-color: rgba(0, 0, 0, 0.527);
        color:white;
        border-radius:25px;
    }
    #data_tester {
        position:absolute;
        top:50%;
        left:2%;
        z-index:10002;

    }
    #contract_tester {
        position:absolute;
        top:50%;
        left:15%;
        z-index:10002;
    }
    #contract_tester .selectors {
        padding: 0 35px;
    }
    #reset_filter {
        position:absolute;
        right: 5%;
    }
    #apply_filter {
        position:absolute;
        right:50%;
        border:1px solid red;
    }
    .holder_info {
        height:100%;
        position:absolute;
        left:0;
        top: 0;
        /* border:1px solid red; */
        font-size:15px;
    }
    .date_section {
        position:absolute;
        width:30%;
        left:35%;
        border:1px solid rgba(2,24,68, 1);
        border-radius: 25px;
        text-align:center;
        top:5%;
        /* background-color:rgba(2,24,68, 1); */
    }
    .one_or_seven {
        border-radius: 25px;
    }
    .date_section .one_or_seven {
        width:49%;
        /* border: 1px solid red; */
        float:left;
        
    }
    .active {
        background-color: rgba(2,24,68, 1);
    }
    .date_section p {
        padding-top:10px;
    }
    .one_or_seven:first-of-type {
        border-right: 1px solid red;
    }
    @media screen and (max-width: 700px) {
        body {
            background-color: white;
            }
        #apply_filter {
            position:absolute;
            width:20%;
            right:41%;
            top:25%;
            /* border:1px solid red; */
        }
        .input_guard2 {
            top:10%;
        }
        #first_inp {
            position:absolute;
            left:0;
        }
        #second_inp {
            position:absolute;
            right:0;
        }
    }
    .middle {
        position:Absolute;
        top:80%;
        right:45%;
    }
    .middle p {
        border:1px solid blue;
        padding:15px;
        border-radius:25px;
        text-align:center;
    }
    Calendar {
        border:1px solid red;
    }
    .vc-border {
         border:1px solid red;
         z-index: 25000;
    }
</style>