<template>
<div class="phone_view">
<div class="login_form">
      <form>
        <fieldset>
            <div class="form-group">
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username" v-model="username">
            </div>
            <div class="form-group" id="pass_inp">
                <input type="password" class="form-control" id="pass_input" placeholder="Password" v-model="password">
                <span v-on:click="pass_view()"><img src="@/assets/eye.png" alt=""></span>
                
            </div>
            
        </fieldset>
    </form>
            <div class="submitter">
                <button v-on:click="login()">Login </button>
            </div>
    <p>
        <!-- {{username}}
        {{password}} -->
        {{test_data}}
    </p>
    
  </div>
</div>
  
</template>

<script>
import axios from 'axios';
export default {
    data() {
        return {
            test: "test1",
            username: "",
            password: "",
            test_data: ""
        }
    },
    methods: {
        pass_view() {
            let x = document.getElementById("pass_input");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        },
        login(){
            // axios.post('http://codehive.rs/php/mat_ibis/login_test.php', {
            axios.post("http://localhost/Ibis/Matei/src/assets/php/login_test.php", {
                request : "user_login",
                username : this.username,
                password : this.password
            })
            .then(response => {
                this.test_data = response.data
                if(response.data.message == "login"){
                    this.$router.push('report')
                    }
                }
            )
            .catch()
            }
        
    }
}
</script>

<style scoped>
    .login_form {
        width:20%;
        margin: 0 auto;
        text-align:center;
    }
    input {
        border-radius: 25px;
        border: 1px solid rgb(28, 26, 151);
        text-align:center;
    }
    form {
       padding-top:45%;
    }
    .login_form::placeholder {
        color: red;
        text-align: center;
    }
    #pass_inp {
        position:relative;
    }
    #pass_inp span {
        position:absolute;
        right:2%;
        top:5%;
        height:50px;
        width:5%;
        border:1px solid white;
        border-radius: 30%;
    }
    
    span img {
        width:50%;
    }
    .submitter button{
        width:100%;
        /* border:1px solid red; */
        border-radius: 25px;
        background-color: rgba(122,236,186,1);
        padding:5px;
    }
    .submitter {
        border-radius:25px;
    }
    .phone_view{
            background-image: url("../assets/laptop.png");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center top;
            height: 90vh;
    }
    @media screen and (max-width: 700px) {
        .login_form {
            width:30%;
            position:absolute;
            left:35%;
            top:40%;
        }
        .phone_view {
            background-image: url("../assets/phone.jpg");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center top;
            height: 100vh;
        }
    }
    @media screen and (min-width: 700px) and (max-width: 1200px) {
        .login_form {
            width:30%;
            position:absolute;
            left:35%;
            top:20%;
        }
        .phone_view {
            background-image: url("../assets/tablet.png");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center top;
            height: 100vh;
        }
    }
    
</style>