<template>
  <div class="wrapper">
      <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Min</th>
      <th scope="col">Avg</th>
      <th scope="col">Max/th>
      <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">Bitrate</th>
      <td>{{bitrate.min}}</td>
      <td>{{bitrate.avg}}</td>
      <td> {{bitrate.max}} </td>
      <td> {{bitrate.avg}} </td>
    </tr>
    <tr>
      <th scope="row">RSS</th>
      <td>{{RSS.min}}</td>
      <td>{{RSS.avg}}</td>
      <td> {{RSS.max}} </td>
      <td> {{RSS.avg}} </td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Network Interference</th>
      <td>{{interference.min}}</td>
      <td>{{interference.avg}}</td>
      <td> {{interference.max}} </td>
      <td> {{interference.avg}} </td>
    </tr>

  </tbody>
</table>
<button v-on:click="tables()">Get Data</button>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios"
export default {
    data() {
        return {
            bitrate : "",
            RSS: "",
            interference: "",
            list : ["bitrate", "RSS", "interference"]
        }
    },
    props: {
        contract : String
    },
    methods: {
        tables(){
            axios.post("http://localhost/Ibis/Matei/src/assets/php/get_tables.php", {
                request: "get_tables",
                tables: "hgw",
                contract : this.contract,
                headers : { 
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                }
            })
            .then(response => {
                console.log(response.data)
                this.bitrate = JSON.parse(response.data.data.bitrate)
                this.RSS = JSON.parse(response.data.data.RSS)
                this.interference = JSON.parse(response.data.data.network)
                console.log(this.RSS.min)
                }
            )
            .catch()
        }
    },
    mounted: function () {
        this.tables()
    }
}
</script>

<style scoped>
    .wrapper {
        position:absolute;
        top:20%;
        left:10%;
        border:1px solid red;
    }
</style>>
